{% extends "base.html" %}

{% block title %}P2P Downloader - Admin{% endblock %}

{% block content %}
<div class="page-header">
    <h2>P2P Anwendungs-Downloader</h2>
</div>

<div class="admin-content">
    <p>Hier gibt es die Chords</p>

    <div style="margin-top: 20px;">
        <a href="{{ url_for('storage.download_exe') }}" class="button button-primary">
            <i class="fas fa-download">PC</i>
        </a>
    </div>
    <div style="margin-top: 20px;">
        <a href="{{ url_for('storage.download_apk') }}" class="button button-primary">
            <i class="fas fa-download">Handy</i>
        </a>
    </div>

    <p style="margin-top: 30px; font-size: 0.9em; color: #666;">
        <strong>Hinweis:</strong> neuste version von P2P Downloader herunterladen für PC und Handy
</div>
{% endblock %}